html{
	margin:0;
}

body{
	margin:0;
	background-color: rgba(244, 202, 21, 0.2);
}

header{
	transition:0.5s;
	padding-top:3%;
	background:rgb(0,0,0,0.5);
	width:100%;
	height:20%;
	overflow:hidden;

}

#header{
	transition:0.5s;
}

footer{
  transition:0.5s;
  padding-top:1%;
  background:rgb(0,0,0,0.5);
  width:100%;
  height:10%;
  overflow:hidden;
}


.aboutTitle{
	font-family: 'Montserrat', sans-serif;
	width:100%;
	padding-top:2%;
	padding-bottom:2%;
}

.container{
		margin-top:1%;
}

.bioContainer{
	width:20%;
	height:20%;
	float:left;
	margin-top: 5%;
	margin-left:5%;
	padding-left: 5%;
	padding-top: 3%;
	margin-bottom:10%;
}


.bioContainer-Jacob{
	width:20%;
	height:20%;
	margin-left:1%;
	padding-left: 1.5%;
  padding-right: 1.5%;
	margin-bottom:1%;
}

.nameText{
	font-family: 'Montserrat', sans-serif;

}

.section-two{
  	margin-top:50em;
    padding: 10em;
    font-size: 1rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;

}

ul{
      list-style-type: none;
}

li:hover{
	transition:1s;
	color:yellow;
	text-decoration:none;
}
.footer-textContent{
  	font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    transition:1s;
	  color:white;
    cursor:pointer;
}
